@{
	ViewData["Title"] = "Home";
}

<div class="text-center text-light">
	<h1 class="display-4" style="color: #19183B"><i class="bi bi-person-vcard">Agenda</i><span class="fw-bold"> Médica</span></h1>

	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<a class="btn btn-outline-light btn-lg" asp-area="Identity" asp-page="/Account/Login">Entrar</a>

</div>
